#main-interface, #board-4x4, #board-5x5, #board-6x6, #board-7x7 {
    display: none;
}

#main-interface div {
    transition: opacity 0.5s;
}

#main-interface {
    position: fixed;
    top: -100%;
    transition: top 1s ease-in-out;
}

.show {
    top: 15% !important; /* override main-interface position to add scroll effect */
}

table {
    width: 25vw; 
    height: 50vh;
    table-layout: fixed;
    font-family: 'Plus Jakarta Sans', sans-serif;
    user-select: none;
}

td {
    border: 2px black solid;
    border-spacing: 5px;
    border-radius: 10px; 
    font-size: 1.5rem;
    text-align: center;
}

#nav-buttons {
    width: 25vw;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
}

.nav-button {
    background-color: #fff;
    padding: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box; 
    position: relative;
    margin-top: 10px;
}

#controls div {
    width: 80px;
    padding: 5px;
    font-size: 0.9vw;
}

.theme-example {
    cursor: pointer;
    height: 6vh; 
    padding: 5px;
}

.theme-example td {
    font-size: 0.9rem;
}

.theme-example td:hover {
    border: 2.2px solid black;
}

@media (max-width: 700px) {
    table {
        width: 70vw;
        height: 45vh;
    }
    #nav-buttons{
        width: 70vw;
    }
    .nav-button {
        margin: 1vw;;
    }
    #controls {
        width: 70vw;
    }
    #controls div {
        padding: 3px;
        font-size: 2.5vw;
    }
}